In [9]:
#Q1.Discuss string slicing and provide examples.

#string slicing refers to access the specific part of the string.
#for example
# str[start:stop:step] here index starts from start end with stop-1 index and step are numbers to be skipped. 
#intially step begings with 1 unless and untill it is changed

str="Hello World"
str[0:5] # here i want to get output only still hello, so we have sliced it index no.5 which is not included

'Hello'

In [11]:
str[6:]  #here we have started from index no 6 which goes till end of the string.

'World'

In [13]:
str[::-1] #reversing the string

'dlroW olleH'

In [15]:

#Q2. Explain the key feature of list in python.
# the key feature of list are it is ordered, mutable, supports hetrogeneous element and slicing also.

#elements are always in order in list.

list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [17]:
#mutuable means the vale of list can be altered or changed.
list=[1,2,3,4,5]
list[2]=23
print(list)

[1, 2, 23, 4, 5]

In [19]:
#hetrogenous in nature means supports all type of data structures such as float, inetegers and string

list=[1,2,"hi",6.6]
type(list)

list

In [21]:
#slicing 
list[0:3]

[1, 2, 'hi']

In [23]:
list[::-1] #reversing the list

[6.6, 'hi', 2, 1]

In [29]:
squares= [i**2 for i in range(5)] #comprehension list
print(squares)

[0, 1, 4, 9, 16]

In [2]:
#Q3. decribe how to delete,access and modify elemets in list with an example.

#deleting elemts from a list
list=[10,20,30,40,50]
list.pop() #removng random element
list

[10, 20, 30, 40]

In [6]:
list.pop(2) #deleting the second index item from it
list

[10, 20, 40]

In [8]:
#accessing the elements
list=[1,2,3,"mango","banana"]
list[4] #accessing the index no 4 element in the list

'banana'

In [16]:
list[0:3] #accessing only numbers from list

[1, 2, 3]

In [28]:
#modifying the list
list=[1,2,34,"mango"]  #modfying mango to apple
list[3]="apple"
list

[1, 2, 34, 'apple']

In [36]:
list=[1,2,3,4,5]
list[2:4]=[22,44]  # modfying through slicing from 2,3 index
list

[1, 2, 22, 44, 5]

In [50]:
#Q4. Compare and constast list and tuple with example.

#list are immuatble, their value can be changed. like delete , access or modify. it is denoted by []

list=[1,2,3,45]
list.pop(2)
list[1]=22
list[:]

[1, 22, 45]

In [40]:
#tuple are muatable. it value cannot be changed. It is denoted by ()
tuple=(1,2,3,4,5)
tuple[2]=77

TypeError: 'tuple' object does not support item assignment

In [52]:
#tuple are used where the data store are permanent. where as list are having hetrogenous data can it's value can be change any time

In [57]:
#Q5describe the key feature of sets and its usage with example.

#A set in Python is an unordered, mutable, and unindexed collection of unique elements.
#It is useful when you need to store distinct items and perform operations like union, intersection, or difference between collections.

In [59]:
#unique value and its use case is to check no of unique elements in list
set={1,1,1,2,3,4,54,6,7,7,87,6,6,5,455,5,4,4,4,45,6}
set

{1, 2, 3, 4, 5, 6, 7, 45, 54, 87, 455}

In [65]:
#sets performs some operations such as union, intersection, and difference

s1={1,2,3}
s2={3,4,5}
s3= s1 | s2
s3

{1, 2, 3, 4, 5}

In [67]:
#intersection  returns common element from both sets
s4=s1 & s2
s4

{3}

In [69]:
#difference    returns the element that are in only set 1 not in set 2
s5= s1 - s2
s5

{1, 2}

In [71]:
#Q6. Discuss the usecase of tuple and sets in python

""" Tuples and sets both are used in python.
tuple are immuatble they used to store value that cannot be alter.
they can be used in dictonary to fix values.
they ensure data integritry"""

dict={("name"):("XYZ"),("age"):(22)}  #here the value of dict cannot be changed as it is in tuple.
dict

{'name': 'XYZ', 'age': 22}

In [97]:
""" sets are used in many ways.
to provide the unique value.
to identify the element is in the listl.
to perform opreations."""
set={1,2,3,4,4,5,6,5,4,3,2,1,2,3}
print(set)

{1, 2, 3, 4, 5, 6}

In [99]:
if 3 in set:
    print("yes 3 in set")

yes 3 in set

In [103]:
#Q7. Dicuss how to add, modify and delete item in dictonary with example.

#adding items to dict

dict = {}
dict["name"]="XYZ"
dict["age"]=22
dict["gender"]="male"
dict

{'name': 'XYZ', 'age': 22, 'gender': 'male'}

In [105]:
#modifying items in dict

dict["name"]="mohan"
dict

{'name': 'mohan', 'age': 22, 'gender': 'male'}

In [107]:
#deleting items in dict

del dict["name"]
dict

{'age': 22, 'gender': 'male'}

In [124]:
#Q8. dicuss the importance of dictornary keys being immutable with example.

"""Importance of Immutable Dictionary Keys
consistent-Dictionary keys must be immutable to ensure that the hash value associated with the key remains constant. 
Data Integrity
Allowing mutable objects as keys could lead to unpredictable behavior and errors."""

my_dict = {
    42: "The answer to life, the universe, and everything", 
    "name": "Alice", 
    (1, 2): "A tuple as a key"  
}


print(my_dict[42])         # Output: The answer to life, the universe, and everything
print(my_dict["name"])     # Output: Alice
print(my_dict[(1, 2)])     # Output: A tuple as a key

The answer to life, the universe, and everything
Alice
A tuple as a key